---
layout: post
---
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="{{ '/assets/css/style.scss?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    
     <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    

        <div class="custom">
          <nav>
            <ul>
            </ul>
          </nav>
          <section>
            {{ content }}

          </section>
        </div>
